<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">ChitChat</span>
    <span class="example-spacer"></span>
    <button *ngIf="currentMode=='chat'" mat-button (click)="changeTab()"><mat-icon>{{tab}}</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="currentMode=='init'" class="icontainer">
  <mat-card class="card">
    <h3>
      Hey you are one step away, Create a Room or Join a Room
    </h3>
    <div class="btnContainer">
      <button mat-raised-button color="primary" (click)="createRoom()">Create a Room </button>
      <div class="join">
        <div class="input-container">
          <mat-icon matSuffix>keyboard</mat-icon>
          <input [(ngModel)]="otherid" type="text" placeholder="Enter The Code">
        </div>
        <br>
        <button [disabled]="!otherid" mat-raised-button color="primary" (click)="joinRoom()">Join </button>

      </div>

    </div>
  </mat-card>
</div>



<div *ngIf="currentMode=='chat' && tab=='chat'" class="vcontainer">
  <div class="videoContainer">
    <video #localVideo></video>
    <video #remoteVideo></video>
  </div>
  <div class="btnContainer">
    <button (click)="endCall()" mat-raised-button color="primary">End Call</button>
    <button [matTooltip]="id" [cdkCopyToClipboard]="id" mat-raised-button color="primary">Copy ID
      <mat-icon>content_paste</mat-icon></button>
  </div>
</div>
<div *ngIf="currentMode=='chat' && tab=='videocam'" class="ccontainer">
  <mat-card class="messages">
    <mat-card [class.active]="msg.from =='me'" *ngFor="let msg of peerservice.messages" class="message">
      {{msg.text}}
    </mat-card>
  </mat-card>
  <mat-card class="join">
    <div class="input-container">
      <mat-icon matSuffix>keyboard</mat-icon>
      <input [(ngModel)]="message" type="text" placeholder="Enter your message">
    </div>
    <button [disabled]="!message" mat-raised-button color="primary" (click)="sendMessage()"><mat-icon>send</mat-icon>
    </button>
  </mat-card>

</div>