<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  routerLink="/" >ChitChat</span>
    <span class="example-spacer"></span>
    <!-- <button mat-raised-button>Hire Me</button> -->
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card *ngIf="currentMode=='init'" class="card">
    <h3>
      Hey you are one step away, Create a Room or Join a Room
    </h3>
    <div class="btnContainer">
      <button mat-raised-button color="primary" (click)="createRoom()">Create a Room </button>
      <div class="join">
        <div class="input-container">
          <mat-icon matSuffix>keyboard</mat-icon>
          <input [(ngModel)]="code" type="text" placeholder="Enter The Code">
        </div>
        <br>
        <button [disabled]="!code" mat-raised-button color="primary" (click)="joinRoom()">Join </button>

      </div>

    </div>
  </mat-card>
  <mat-card *ngIf="currentMode=='wait'" class="wait">
    <div class="rcontainer">
      <div class="robo">
          <div class="head">
              <div class="face">
                  <div class="eyes">
                      <div class="eye"></div>
                      <div class="eye"></div>
                  </div>
                  <div class="mouth"></div>
              </div>
          </div>
          <div class="body">
              <div class="tag">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
      </div>
      <div class="arm1"></div>
      <div class="arm2"></div>
  </div>
    Your Code is {{id}}  <button mat-raised-button color="primary"  [cdkCopyToClipboard]="id">Copy</button>
  </mat-card>

  <mat-card *ngIf="currentMode=='chat'" class="chat">
    <div class="messages">
      <mat-card [class.active]="msg.from =='me'" *ngFor="let msg of messages" class="message">
        {{msg.text}}
      </mat-card>
    </div>
      <div class="join">
        <div class="input-container">
          <mat-icon matSuffix>keyboard</mat-icon>
          <input [(ngModel)]="message" type="text" placeholder="Enter your message">
        </div>
        <button [disabled]="!message" mat-raised-button color="primary" (click)="sendMessage()"><mat-icon>send</mat-icon>
        </button>
    </div>
  </mat-card>

</div>