.icontainer {
  width: 100%;
  height: 100%;
  background-color: rgb(12, 1, 25);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .join {
      display: flex;
      width: 100%;
    }

    .input-container {
      display: flex;
      align-items: center;
      background-color: #f2f2f2;
      border-radius: 25px;
      padding: 10px;
      height: 26px;
    }

    .input-container i {
      color: #aaaaaa;
      margin-right: 10px;
      margin-left: 10px;
    }

    input[type="text"] {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      color: #333;
      width: 100%;
    }

    button {
      margin: 10px;
    }
  }

}



.ccontainer {
  background-color: rgb(249, 248, 251);
  width: 100vw;
  min-height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.messages {
  width: 300px;
  height: calc(100vh - 168px);
  padding: 10px 10px -5px 0px;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #673AB7;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
}

.message {
  padding: 5px;
margin: 5px;
width: 200px;
background-color: #e2dfdf;
}

.active {
  background-color: #333;
  color: #aaaaaa;
  margin-left: 80px;
}


.vcontainer {
  background-color: rgb(12, 1, 25);
  width: 100vw;
  min-height: calc(100vh - 65px);

  .videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    video {
      height: 245px;
      width: 300px;
      margin: 4px;
      border-radius: 10px;
      background-color: #127ecd;
    }
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}




.example-spacer {
  flex: 1 1 auto;
}


.join {
  display: flex;
  align-items: center;
  width: 300px;
  flex-direction: row;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 10px;
  height: 26px;
}

.input-container i {
  color: #aaaaaa;
  margin-right: 10px;
  margin-left: 10px;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
  width: 100%;
}

button {
  margin: 10px;
}
